.active{
    color: #f00;
    border-bottom: 2px solid #f00;
}

.buynow{
    background: #FF3F4D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #ff3f4d;
}

.placebid{
    background: #fff;
    color: #FF3F4D;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #ff3f4d;

}