.punks{
    height: 100vh;
    width: 83%;
    img{
        height: 80vh;
        width: auto;
    }
}
@media only screen and (max-width:550px) {
    .punks{
        height: 40vh;
        width: 95%;
        img{
            height: auto;
            width: auto;
        }
    }
}