.footer{
    height: auto;
    min-height: 36rem;
    background-color: rgb(0, 0, 0);
    padding:4rem 0rem 3rem 0rem;
    .social{
        border-top: 1px solid #484747;
        border-bottom: 1px solid #484747;
        height: 90px;
    }
    .links{
        border-bottom: 1px solid #484747;
        height: 12rem;
        color: #fff;
    }
}